<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">

        <div class="card-header">

          <h3>Search</h3>

        <div class="form-group row">



            <div class="col-lg-4">
              <label>Choose the Route ID</label>
            <div class="input-group">
              <select class="form-control" id="leaverouteId" [(ngModel)]="input_route">
                <option *ngFor="let route of routeInfoData" value="{{route.routeId}}">{{route.routeId}}</option>
              </select>
            </div>
          </div>

          <div class="col-lg-4">
            <label>Choose the departure date </label>
            <div class="input-group">
              <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date"  [(ngModel)] = input_date>
            </div>
          </div>

          <div class="col-lg-4">
            <label>&nbsp;</label>
            <div class="input-group">
            <button class="btn btn-primary" type="button" (click) = search($event)>Search</button>
          </div>
          </div>

        </div>




        </div>

          <div class="card-body">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover stripe nowrap">
            <!-- 宣告欄位名稱 -->
            <thead>
              <tr>
                <th>ArrangementId</th>
                <th>CarId</th>
                <th>DepartureTime</th>
                <th>ArrangementStatus</th>
                <th>Action</th>
             </tr>
            </thead>
           <!-- 宣告欄位名稱 -->

           <!-- 宣告資料表表身 -->
            <tbody>
              <ng-container *ngFor="let data of arrangementInfoData">
              <tr>
                <td>{{data.arrangementId}}</td>
                <td>{{data.carId}}</td>
                <td>{{data.departureTime}}</td>
                <td>
                  <span class="badge badge-success" *ngIf="(data.arrangementStatus == 'success')">Success</span>
                  <span class="badge badge-secondary" *ngIf="(data.arrangementStatus == 'test')">test</span>
                  <span class="badge badge-danger" *ngIf="(data.arrangementStatus == '' || data.arrangementStatus == null)">Cancel</span>
                </td>
                <td>
                  <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                  <button type="button" class="btn btn-primary" data-toggle="modal" (click)="infoModal.show()">
                    <i class="icon-eye icons font-1x2 "></i>
                    Details
                  </button>
                  </div>
                </td>
              </tr>

              <div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-info" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">{{data.arrangementId}}</h4>
                      <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h3>Car Info</h3>
                      <div *ngFor="let Cardetail of findCarDetail(data)">
                        <div class="row align-items-start">
                          <b class="col-6 col-sm-3">Car Id </b>
                          <div class="col-6 col-sm-3">{{Cardetail.carId}}</div>
                        </div>
                        <div class="row align-items-start" >
                          <b class="col-6 col-sm-3">Car Brand </b>
                        <div class="col-6 col-sm-3">{{Cardetail.carBrand}}</div>
                        </div>
                      </div>
                      <hr>
                      <h3>Route Info</h3>
                      <div *ngFor="let Routedetail of findRouteDetail(data)">
                        <div class="row align-items-start" >
                          <b class="col-6 col-sm-3">Route Id </b>
                          <div class="col-6 col-sm-3">{{Routedetail.routeId}}</div>
                        </div>
                        <div class="row align-items-start" >
                          <b class="col-6 col-sm-3">Route Name</b>
                          <div class="col-6 col-sm-3">{{Routedetail.routeName}}</div>
                        </div>
                      </div>
                      <hr>
                      <h3>Driver Info</h3>
                      <div *ngFor="let Driverdetail of findDriverDetail(data)">
                        <div class="row align-items-start" >
                          <b class="col-6 col-sm-3">Driver Id</b>
                          <div class="col-6 col-sm-3">{{Driverdetail.driverId}}</div>
                        </div>
                        <div class="row align-items-start" >
                          <b class="col-6 col-sm-3">Driver Name</b>
                          <div class="col-6 col-sm-3">{{Driverdetail.driverName}}</div>
                        </div>
                        <div class="row align-items-start" >
                          <b class="col-6 col-sm-3">Driver Phone</b>
                          <div class="col-6 col-sm-3">{{Driverdetail.driverPhone}}</div>
                        </div>
                      </div>
                      <hr>
                      <h3>Arrangement Remark</h3>
                      <p>{{data.arrangementRemark}}</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="infoModal.hide()">Close</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->




            </ng-container>
            </tbody>
            <!-- 宣告資料表表身 -->
          </table>

      </div>
    </div>
    <!--/.col-->
  </div>
</div><!--/.row-->
</div>
