

<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">

        <div class="card-header">

          <h3>Search</h3>

        <div class="form-group row">



            <div class="col-lg-4">
              <label>Enter your ID</label>
            <div class="input-group">
              <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Username">
            </div>
          </div>

          <div class="col-lg-4">
            <label>Choose the departure date </label>
            <div class="input-group">
              <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date">
            </div>
          </div>

          <div class="col-lg-4">
            <label>&nbsp;</label>
            <div class="input-group">
            <button class="btn btn-primary" type="button">Search</button>
          </div>
          </div>

        </div>




        </div>

          <div class="card-body">
          <!-- <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover stripe nowrap"> -->
            <!-- 宣告欄位名稱 -->
            <!-- <thead>
              <tr>
                <th>CarId</th>
                <th>CarBrand</th>
                <th>CarOwner</th>
                <th>CarPassengerVolume</th>
                <th>Action</th>
             </tr>
            </thead> -->
           <!-- 宣告欄位名稱 -->

           <!-- 宣告資料表表身 -->
            <!-- <tbody>
              <tr *ngFor="let data of carInfoData">
                <td>{{data.carId}}</td>
                <td>{{data.carBrand}}</td>
                <td>{{data.carOwner}}</td>
                <td>{{data.carPassengerVolume}}</td>
                <td>
                  <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                  <button type="button" class="btn btn-primary"  data-toggle="modal"
                  data-target="#exampleModal" (click)="editClick(data)">
                    <i class="cui-note icons font-1xl mt-4"></i>
                    Edit
                  </button>
                  <button type="button" class="btn btn-danger"  (click)= "deleteClick(data)">
                    <i class="cui-trash icons font-1xl mt-4"></i>
                    Delete
                  </button>
                  </div>
                </td>
              </tr>
            </tbody> -->
            <!-- 宣告資料表表身 -->
          <!-- </table> -->

      </div>
    </div>
    <!--/.col-->
  </div>
</div><!--/.row-->
</div>

