<div class="row">

  <div class="col-12 p2">
    <!-- Nav tabs -->
    <tabset>


              <tab *ngFor="let Routedata of routeInfoData">


              <ng-template tabHeading>
                <i class="icon-list"></i> {{Routedata.routeId}} &nbsp;
                <span class="badge badge-success">New</span>
              </ng-template>



                <ng-container>
                  <!-- <div dragula="ARRANGEMENT"> -->
                    <h6>the passenger is here!</h6>
                    <div class="container" dragula="ARRANGEMENT" [dragulaModel] = "arrangementData">
                        <div *ngFor="let data of arrangementData">
                        <div class="btn btn-block btn-primary " *ngIf="(data.routeId == Routedata.routeId)">
                          {{data.arrangementId}}</div>
                        </div>
                    </div>
                  <!-- </div> -->
                </ng-container>


            </tab>

    </tabset>
  </div><!--/.col-->


<div class="col-sm-6 col-lg-3" *ngFor="let Cardata of carInfoData; let i = index;">
  <div class="card text-white bg-success " *ngIf="full" >

    <div class="card-header">

      <div class="h1 text-muted text-left mb-4" >
      <i class="fa fa-car fa-lg mt-4"></i>
      <small class="text-muted text-uppercase font-weight-bold h4 mb-0">{{Cardata.carId}}</small>
    </div>
      <!-- <small class="text-muted text-uppercase font-weight-bold h4 mb-0">{{data.carId}}</small> -->
      <div class="h6 mb-0">Remaining position :
      <label class="h4 mb-0">{{ (Cardata.carPassengerVolume-1)}}</label>
    </div>
    <button class="btn btn-secondary float-right" (click)="isCollapsed[i] = !isCollapsed[i]" > show more </button>
    </div>


    <div class="card-body" dragula="ARRANGEMENT"  [dragulaModel] = "okarrangementData">

      <div class="row">
        <div *ngFor="let data of arrangementData">
          </div>
      </div>

    </div>

  </div>



</div><!--/.col-->
</div>




